@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

:root {
	--background: 0 0% 100%;
	--foreground: 222.2 84% 4.9%;
	--border: 214.3 31.8% 91.4%;
	--primary: #f72585;
	--secondary: #7209b7;
	--accent: #3a0ca3;
	--primary-tint: hsl(from var(--primary) h s calc(l * 2));
}

.dark {
	--background: 222.2 84% 4.9%;
	--foreground: 210 40% 98%;
	--border: 217.2 32.6% 17.5%;
	scrollbar-color: hsl(217.2, 32.6%, 17.5%) hsl(222.2, 84%, 4.9%);
	--test-color:   
;
}

body {
	background-color: hsl(var(--background));
	color: hsl(var(--foreground));
	border-color: hsl(var(--border));
	--color-header-background: gray;
	--color-cell-background-in-scale: gray;
	--section-gap: 1rem;
}
